body{
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	background-color: #66ff66;
}


.blogPost{
	line-height: 15px;
	max-width: 50%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.blogAuthor{
	line-height: 1px;
}

.blogTitle a:visited{
	color: black;
}

.blogTitle a:link{
	text-decoration: none;
	color:black;
}

.blogTitle a:hover{
	color: gray;
}

.nav ul li{
	list-style-type: none;
	display:inline;
}

.nav ul li a:visited{
	color:black;
}

.nav ul li a:hover{
	color:gray;
}

.header{
	background-color: #66ff66;
	color:white;
}

.footer{
	background-color:gray;
	color:white;
}

.mainContent{
	background-color: #0052cc;
	color: white;
}

.showBlogPost{
	max-width: 50%;
}

.header a:link{
	color: black;
}

.header a:visited{
	color: black;
}