.blogPost{
	line-height: 15px;
	max-width: 50%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.footer { 
    bottom:0%;
    width:100%; 
    background-color: green; 
    opacity: 0.9;
    padding: 0 6em;
}

.header {
	opacity: 0.9;
	background-color: yellow;
}

.FroggyBlue {
	width: 20%;
}

.dateTime {
	color: white;
	text-shadow: 3px 3px black;
}

body{
	background-image:url("swamp5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


h1 {
	color: blue;
	text-shadow: 3px 3px green;
	text-align: center;
}

h2 {
	color: white;
	text-shadow: 3px 3px black; 
}

h3 {
	color: white;
	text-shadow: 3px 3px black; 
}

h4 {
	color: white;
	text-shadow: 3px 3px black; 
}

h5 {
	color: white;
	text-shadow: 3px 3px black; 
}

h6 {
	color: white;
	text-shadow: 3px 3px black; 
}

p {
	color: white;
	text-shadow: 3px 3px black; 
}
